<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans" >
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,700" rel="stylesheet">
  </head>
  <body class="all_index">
    <div class="header">
      <div class="login">
        <% if logged_in? %>
          <%= link_to "Log Out", logout_path, method: :delete %>
        <% else %>
          <%= link_to "Log In", login_path %>
        <% end %>
      </div>
      <div class="signup">
        <%= link_to "Sign Up", signup_path %>
      </div>
    </div>
    
    <div id="heading">
      <h1>Blog List</h1>
    </div>
    
    <div class="new_post_link">
      <%= link_to 'Add a new blog post', new_article_path %>
    </div>

    <div class= "post_preview">
      <% @articles.each do |article| %>
        <div class= "each_post">
          <div class= "head">
            <strong><%= article.title %></strong>
            <div class="too_long"><%= article.text %></div>
          </div>
          <div class="buttons">
            <%if logged_in? %>
              <div class= "when_logged">
                <%= link_to 'Edit', edit_article_path(article) %>
                <%= link_to 'Destroy', article_path(article),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
              </div>
            <% end %>
            <%= link_to 'Show', article_path(article) %>
          </div>
        </div>
      <% end %>
    </div>
    <hr>
  </body>
</html>
