<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans" >
  </head>
  <body class= "all_show">
    
    <div class= "header">
      <div class = "login">
        <%= link_to 'Back', articles_path %>
      </div>
    </div>
    <div class= "title">
      <h2><%= @article.title %></h2>
    </div>

    <div class= "text">
      <%= @article.text %>
    </div>
    
    <hr>
    
    <div class = "comments">
      <h3>Comments</h3>
      <div class="comment_list">
        <%= render @article.comments %>
      </div>
      
      <div class="add_comment">
        <h3>Add a comment:</h3>
        <div class="input_box">
           <%= render 'comments/form' %> 
        </div>
         
        <%= if logged_in? 
              link_to 'Edit', edit_article_path(@article)
            end %><br>
      </div>
    </div> 
  </body>
</html>
